<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>

    <form mame="member" method="post" action="#">
        <center><h1>REGISTER</h1></center>
         <table border="" width="500" align="center">


             <tr>
                 <td> Firstname :
                 <input type="text" name="Fname" ></td><br/>
             <tr>
                 <td>Lastname :
                     <input type="text" name="Fname" ></td></tr><br/>

             <tr>
                 <td> E-mail :
                 <input type="text" name="Email"></td></tr><br/>
             <tr>
                 <td>Username :
                     <input type="text" name="User" ></td></tr><br/>
             <tr>
                <td>Password :
                    <input type="password" name="Password" ></td><br/><br/>
             </tr>
        </table>
         <center><input type="submit" name="submit" value="Submit"></center>


    </form>
</body>
</html>